[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
h5py = "<3"
mpi4py = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ltc-pytorch = { editable = true, path = "./../LTC_pytorch", git = "https://github.com/FranzKnut/loss-landscape-LTC.git" }

[dev-packages]

[requires]
python_version = "3.8"
